.user img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 100%;
}

.item {
  width: 370px;
  height: 400px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  border: 1px solid #eeeded;
  transition: transform 0.3s, box-shadow 0.5s;
}

.item:hover {
  box-shadow: 0px 0px 8px 4px rgb(2 2 16 / 15%);
}

.item h3 {
  font-size: 24px;
}

.item p:nth-child(5n-2) {
  font-size: 20px;
  color: #5e5858;
}

.text {
  margin: 55px 40px 50px 40px;
}

.user {
  display: flex;
  align-items: center;
  margin: 0 40px 50px 40px;
}

.user h3 {
  font-size: 21px;
  margin: 0 70px 0 0;
}
