.service {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
}

.textContent {
  display: flex;
  text-align: end;
  padding-left: 600px;
  flex-direction: column;
}

.textContent p {
  margin: 0;
  color: #c04ae2;
  font-size: 24px;
  letter-spacing: 0.4em;
}

.textContent h2 {
  font-size: 60px;
  margin-bottom: 0;
}

.itemsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemsContent div:nth-child(2) {
  margin-top: 90px;
}

.itemsContent div:nth-child(3) {
  margin-top: 180px;
}

.itemsContent div:nth-child(4) {
  margin-top: -180px;
}

.itemsContent div:nth-child(5) {
  margin-top: -90px;
}
