.portfolio {
  margin-top: 130px;
}

.header h2 {
  font-size: 60px;
  margin-bottom: 140px;
}

.header p {
  margin: 0;
  font-size: 24px;
  color: #c04ae2;
  letter-spacing: 0.4em;
}

.header {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.items div:nth-child(2n) {
  margin-top: 70px;
}

.items {
  display: flex;
}
