.btn button {
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 100px;
  text-align: center;
  background-color: inherit;
  text-decoration: 2px underline #bf49e1;
}

.header h2 {
  font-size: 60px;
  margin-bottom: 90px;
}

.header p {
  font-size: 24px;
  letter-spacing: 0.4em;
  margin: 0;
  color: #c04ae2;
}

.header {
  display: flex;
  height: 120px;
  flex-direction: row;
  width: 100% inherit;
  margin-bottom: 120px;
  justify-content: space-between;
}

.blog {
  margin-top: 200px;
}

.items {
  display: flex;
  margin-bottom: 200px;
  justify-content: space-between;
}

.item1 p:first-child {
  font-size: 18px;
  font-weight: 700;
  color: #fe6686;
}

.item2 p:first-child {
  font-weight: 700;

  font-size: 18px;
  color: #54d6a1;
}

.item3 p:first-child {
  font-weight: 700;

  font-size: 18px;
  color: #fe9a3f;
}
