.header h2 {
  font-size: 60px;
  margin-bottom: 95px;
}

.header p {
  font-size: 24px;
  color: #c04ae2;
  letter-spacing: 0.4em;
}

.header {
  display: flex;
  margin-top: 100px;
  text-align: center;
  flex-direction: column;
}

.items p:first-child {
  font-size: 24px;
  font-weight: 700;
}

.item2 p:first-child {
  color: #54d6a1;
}

.item2 div:nth-child(1) {
  margin-right: 0;
  margin-left: 180px;
  padding-left: 50px;
}

.item2 img {
  margin-left: -130px;
  position: absolute;
}

.item1 div:nth-child(1) {
  margin-right: 130px;
}

.item3 div:nth-child(1) {
  margin-right: 130px;
}

.item1 p:first-child {
  color: #fe6686;
}

.item3 p:first-child {
  color: #fe9a3f;
}

.items div:nth-child(2) {
  flex-direction: row-reverse;
}

.textContent {
  margin-left: 130px;
  width: 550px;
}

.items div:nth-child(2) .textContent {
  margin-left: -130px;
  margin-right: 130px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  border: none;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: inherit;
  text-decoration: 2px underline #bf49e1;
}

.item1 div:nth-child(1) {
  width: 417px;
  height: 417px;
  z-index: 272;
  border-width: 7px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(252, 215, 223);
  background-color: rgba(0, 89, 82, 0);
}

.item2 div:nth-child(1) {
  width: 417px;
  height: 417px;
  z-index: auto;
  border-width: 7px;
  position: relative;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(201, 243, 226);
  background-color: rgba(0, 89, 82, 0);
}

.item3 div:nth-child(1) {
  width: 417px;
  height: 417px;
  z-index: 272;
  border-width: 7px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(242, 213, 186);
  background-color: rgba(0, 89, 82, 0);
}

.item2 div:nth-child(2) {
  width: 570px;
}
