.intro {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header h2 {
  font-size: 60px;
  margin-bottom: 95px;
}

.header p {
  font-size: 24px;
  letter-spacing: 0.4em;
  color: #c04ae2;
}

.items {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 358px;
  height: 488px;
}

.item:hover {
  box-shadow: 0px 0px 8px 4px rgb(2 2 16 / 15%);
  transition: transform 0.3s, box-shadow 0.5s;
}

.item h3 {
  padding: 0 70px 0 70px;
  margin: 0;
  font-size: 30px;
}

.item p {
  font-size: 20px;
  color: #878283;
  padding: 50px;
  margin: 0;
}

.item img {
  padding-top: 90px;
  padding-bottom: 45px;
  height: 85px;
}

.item1 {
  border: 6px solid #fcd7df;
  border-radius: 15px;
}

.item2 {
  border: 6px solid #c9f3e2;
  border-radius: 15px;
}

.item3 {
  border: 6px solid #f2d5ba;
  border-radius: 15px;
}
