.header h2 {
  font-size: 60px;
  margin-bottom: 95px;
}

.header p {
  font-size: 24px;
  letter-spacing: 0.4em;
  color: #c04ae2;
}

.header {
  display: flex;
  margin-top: 180px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.items {
  display: flex;
}

.item {
  width: 50%;
}

.item1 h3 {
  font-size: 42px;
  margin-bottom: 30px;
}

.item1 input::placeholder {
  color: #999999;
}

.item1 input {
  width: 430px;
  height: 75px;
  border: none;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px rgb(2 2 16 / 15%);
}

.item1 textarea:nth-last-child(5n-2) {
  width: 430px;
  height: 155px;
  padding-top: 30px;
  padding-left: 30px;
}

.item1 textarea::placeholder {
  color: #999999;
}

.item1 textarea {
  width: 460px;
  height: 75px;
  border: none;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px rgb(2 2 16 / 15%);
}

.item1 button {
  width: 240px;
  height: 70px;
  border: none;
  color: white;
  font-size: 24px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #c251e3;
}

.item1 button:hover {
  box-shadow: 0px 0px 8px 4px rgba(191, 73, 225, 0.5);
  transition: transform 0.3s, box-shadow 0.5s;
}

.item2 {
  padding-top: 130px;
  margin-left: 240px;
}

.item2 p:first-child {
  font-size: 24px;
  color: #5e5858;
  margin-bottom: 55px;
}
